h1{
    color: honeydew;
    background-color:cornflowerblue;
    text-align: center;
}
h2{
    color: aqua;
    background-color:cornflowerblue;
    text-align: center;
}
h3{
    color: blue;
}
p{
    color:aquamarine;
}
body{
    background-image: url("../images/images.jpg")
}